NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CONTACT_FOUNDER=
OPENAI_API_KEY=
RAZORPAY_TEST_KEY_ID=
NEXT_PUBLIC_RAZORPAY_LIVE_KEY_ID=
RAZORPAY_TEST_KEY_SECRET=
RAZORPAY_LIVE_KEY_ID=
NEXT_PUBLIC_RAZORPAY_LIVE_KEY_ID=
RAZORPAY_LIVE_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET_LIVE=
RAZORPAY_WEBHOOK_SECRET_TEST=
CONTACT_US=
NEXT_PUBLIC_CONTACT_US=
Measurement_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
Clarity_Project_ID=
NEXT_PUBLIC_CLARITY_PROJECT_ID=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=